    .box {
        width: 400px;
        height: 400px;
        background-color: rgb(42, 157, 157);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        transition: all 2s linear 1s;
    }
    
    .box:hover {
        transform: rotate(360deg);
        /* transform: scale(2); */
        /* transform: scale(0.5); */
        /* transform: skew(-45deg); */
        /* transform: translate(0, 400px); */
        /* transform: rotate(450deg); */
        /* transform-origin: 50% 90%; */
    }
    
    .container {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    p {
        font-size: 24px;
        /* margin: auto; */
    }