                .box {
                    height: 100px;
                    width: 200px;
                    background-color: antiquewhite;
                    margin: 100px;
                    box-shadow: 0px 0px 20px 10px blue;
                    /* justify-content: center; */
                }
                
                .box1 {
                    height: 50px;
                    width: 200px;
                    background-color: antiquewhite;
                    margin: 200px;
                    box-shadow: 0px 0px 20px 10px blue;
                    text-shadow: 0px 0px 2px blue;
                }
                /* .box2 {
                    height: 200px;
                    width: 200px;
                    background-color: antiquewhite;
                    margin: 400px;
                    box-shadow: 0px 0px 20px 10px blue;
                } */