.box {
    height: 400px;
    width: 400px;
    background-color: antiquewhite;
    border: 2px solid black;
    transition-property: all;
    transition-duration: 4s;
    transition-delay: 1s;
    transition-timing-function: linear;
}

.box:hover {
    width: 1500px;
    background-color: blue;
}