                                .card1 {
                                    display: inline-block;
                                    background-color: aqua;
                                    height: 200px;
                                    width: 200px;
                                }
                                
                                .card2 {
                                    display: none;
                                    background-color: rgb(255, 0, 191);
                                    height: 200px;
                                    width: 200px;
                                }
                                
                                .card3 {
                                    display: inline-block;
                                    background-color: rgb(123, 0, 255);
                                    height: 200px;
                                    width: 200px;
                                }