.gfg {
    margin-left: 20px;
    font-size: 42px;
    font-weight: bold;
    color: #009900;
}

.geeks {
    font-size: 25px;
    margin-left: 30px;
}

.main {
    margin: 50px;
    text-align: center;
}