                            .main {
                                display: flex;
                                /*flex-direction: row-reverse;
            justify-content: space-evenly;
            justify-content: space-between;*/
                                /* flex-wrap: wrap-reverse;*/
                                /* flex-wrap: wrap-reverse;*/
                                justify-content: center;
                                flex-wrap: wrap-reverse;
                                width: 250px;
                                height: 600px;
                                border: 2px solid blue;
                                /*align-items: first baseline;*/
                                align-content: space-evenly;
                            }
                            
                            .card1 {
                                background-color: blueviolet;
                                height: 200px;
                                width: 200px;
                                /*align-self: flex-start;
                        */
                            }
                            
                            .card2 {
                                background-color: rgb(117, 133, 130);
                                height: 150px;
                                width: 200px;
                                /*align-self: flex-end;*/
                            }
                            
                            .card3 {
                                background-color: rgb(175, 24, 79);
                                height: 100px;
                                width: 200px;
                                /* align-self: flex-end;*/
                            }