            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
            
            .container {
                width: 100vw;
                height: 100vh;
                background-color: beige;
                border: 5px solid black;
            }
            
            .box {
                width: 300px;
                height: 80px;
                border-radius: 6px;
                border: 4px solid rgb(51, 22, 198);
                background-color: green;
                margin: 10px;
                position: relative;
                /* animation-name: rightMovement; */
                /* animation-duration: 5s; */
                /* animation-delay: 2s; */
                /* animation-iteration-count: infinite; */
                /* animation-iteration-count: 1; */
                /* animation-timing-function: cubic-bezier(1, -0.4, 1, 1); */
                /* animation-direction: alternate; */
                /* animation-fill-mode: forwards; */
                /*@keyframes duration | easing-function|delay| iteration count | direction| fill-mode| play-state|name*/
                animation: 5s linear 1s infinite alternate none running rightMovement;
            }
            
            @keyframes rightMovement {
                from {
                    top: 0;
                    left: 0;
                }
                to {
                    top: 0;
                    left: 1500px;
                }
            }
            
            #box1 {
                width: 300px;
                height: 80px;
                border-radius: 6px;
                border: 4px solid rgb(163, 24, 142);
                background-color: rgb(128, 0, 109);
                margin: 10px;
                position: relative;
                animation: 5s ease-in 1s infinite alternate none running leftMovement;
            }
            
            @keyframes leftMovement {
                from {
                    top: 600px;
                    left: 1050px;
                }
                to {
                    top: 600px;
                    left: 0;
                }
            }
            
            #circle {
                width: 100px;
                height: 100px;
                border-radius: 6px;
                border: 4px solid rgb(51, 22, 198);
                background-color: green;
                margin: 10px;
                position: relative;
                border-radius: 50%;
                top: 230px;
                left: 500px;
                animation: 10s ease-in-out 0s infinite alternate-reverse none running circleMovement;
            }
            
            @keyframes circleMovement {
                0% {
                    top: 1%;
                    left: 5%;
                }
                30% {
                    top: 5%;
                    left: 90%;
                }
                60% {
                    top: 60%;
                    left: 10%;
                }
                100% {
                    top: 65%;
                    left: 90%;
                }
            }