        .container {
            background-color: beige;
            margin: 4px;
            padding: 3px;
            border: 4px solid black;
            display: flex;
            flex-wrap: wrap;
            height: 500px;
            justify-content: center;
        }
        
        .box {
            height: 200px;
            width: 200px;
            border: 2px solid brown;
            margin: 4px;
            padding: 3px;
        }
        
        #box1 {
            background-color: blue;
        }
        
        #box2 {
            background-color: pink;
        }
        
        #box3 {
            background-color: black;
        }
        
        #box4 {
            background-color: violet;
        }
        
        #box5 {
            background-color: aqua;
        }