* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}

.container {
    height: 100%;
    width: 100%;
    background-color: beige;
    display: grid;
    gap: 0.4rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 200px);
    border: 2px solid black;
    padding: 30px;
    margin: 5px;
    /* justify-items: stretch; */
    /* align-items: stretch; */
    place-items: center;
}

.item {
    height: 50px;
    width: 100px;
    background-color: rgb(111, 29, 111);
    border: 2px solid rgb(32, 226, 32);
    /* justify-self: stretch; */
    /* align-self: stretch; */
    /* place-self: center; */
}