.container {
    border: 2px solid black;
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    width: 450;
    padding: 4px;
}

#boxleft {
    background-color: aquamarine;
    border: 1px solid green;
    width: 47%;
    margin: 5px;
    padding: 3px;
    display: flex;
    flex-direction: column;
}

#boxright {
    background-color: blue;
    border: 1px solid red;
    width: 47%;
    margin: 5px;
    padding: 3px;
}

p {
    border: 1px solid red;
}

@media(max-width:640) {
    .container {
        flex-direction: column;
    }
}