.container {
    background-color: antiquewhite;
    /* width: 100%;
    height: 100%; */
    border: 1px solid #000000d6;
    display: flex;
    margin: 2px;
    padding: 2px;
}

.box {
    height: 200px;
    width: 200px;
    border: 2px solid green;
    margin: 2px;
    padding: 3px;
}

#box1 {
    background-color: green;
}

#box2 {
    background-color: blue;
}

#box3 {
    background-color: grey;
}

#box4 {
    background-color: orange;
}

@media(mid-width:640px) {
    .container {
        flex-direction: row;
    }
}

@media(max-width:640px) {
    .container {
        flex-direction: column;
    }
}