.box {
    background-color: aqua;
    border: 2px solid black;
    width: 500px;
    height: 500px;
}


/* @media (min-width:500px) {
    .box {
        background-color: green;
    }
} */

@media (min-width:300px)and (max-width:500px) {
    .box {
        background-color: green;
    }
}