.container {
    /* height: 50px;
    width: 650px; */
    /* background-color: yellow; */
    border: 2px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* column-gap: 20px; */
    padding: 10px;
    /* justify-content: center; */
    align-items: center;
}

.box {
    background-color: yellow;
    border: 2px;
    height: 30px;
    width: 700px;
}