/* div {
    border: 2px solid blue;
    background-color: antiquewhite;
    width: 50%;
}

h1 {
    background-color: aqua;
    height: 50%;
    width: 50%;
    margin: 0;
} */


/* .parent {
    background-color: aqua;
    border: 1px solid black;
    width: 50%;
}

.child {
    border: 1px solid green;
    background-color: black;
    width: 50%;
} */


/* * {
    margin: 0;
    padding: 0;
}

.container {
    border: 2px solid green;
    background-color: azure;
    height: 100vh;
    width: 50vh;
} */


/* .container {
    font-size: 10px;
}

.box {
    font-size: 10em;
} */

.cat {
    border: 1px solid black;
    font-size: 2rem;
}