* {
    margin: 0;
    padding: 0;
}

#main {
    border: 3px solid red;
    display: inline-block;
    width: 200px;
    height: 100px;
    margin: 20px 30px;
    padding: 5px;
    overflow: scroll;
}

span {
    border: 4px solid black;
    display: block;
    /* display: none; */
    /* visibility: hidden; */
    margin: 30px;
    padding: 5px;
}