* {
    padding: 0;
    margin: 0;
}

.box {
    height: 80px;
    width: 600px;
    border: 2px solid black;
    margin: 10px;
    padding: 5px;
}

.box1 {
    background-color: blue;
    /* position: relative;
    z-index: 1; */
}

.box2 {
    background-color: red;
    /* position: relative; */
    /* top: 100px; */
    /* bottom: 50px;  */
}

.box3 {
    background-color: aqua;
}

.box4 {
    background-color: grey;
}