        * {
            padding: 0;
            margin: 0;
        }
        
        body {
            background-color: grey;
            height: 100%;
            width: 100%;
        }
        
        .card {
            /* display: flex; */
            background-color: white;
            /* border: 2px solid white; */
            height: 344px;
            width: 244px;
            border-radius: 7px;
        }
        
        .image {
            padding: 5px;
        }
        
        .image img {
            border-radius: 7px;
            margin-left: 10px;
        }
        
        .capsules {
            padding: 0 24px;
        }
        
        .capsules span {
            border: 1px solid grey;
            border-radius: 7px;
            font-size: 13px;
            padding: 3px;
        }
        
        .content {
            padding: 13px;
        }
        
        .content p {
            font-size: 15px;
            margin: 5px 10px 7px 6px;
            color: grey;
        }