.main {
    border: 2px solid black;
    height: 400px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.box1 {
    background-color: aqua;
    height: 100px;
    width: 100px;
}

.box2 {
    background-color: rgb(72, 9, 125);
    height: 100px;
    width: 100px;
}

.box3 {
    background-color: rgb(255, 0, 98);
    height: 100px;
    width: 100px;
}

.main1 {
    border: 2px solid black;
    height: 300px;
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box3 {
    background-color: aqua;
    height: 100px;
    width: 100px;
}

.box4 {
    background-color: rgb(72, 9, 125);
    height: 100px;
    width: 100px;
}

.box6 {
    background-color: rgb(255, 0, 98);
    height: 100px;
    width: 100px;
}