.boat {
    background-color: blue;
    height: 30px;
    width: 40px;
    color: aqua;
    padding: 10px;
    margin: 20px;
}

.boat2 {
    background-color: yellow;
    height: 30px;
    width: 40px;
    margin: 60px;
}