div {
    border: 2px solid black;
    display: flex;
    height: 1000px;
    width: 1000px;
}

.card1 {
    border: 2px solid red;
    height: 100px;
    width: 100px;
    margin: 5px;
    position: fixed;
    background: #000;
}

.card2 {
    border: 2px solid red;
    height: 100px;
    width: 100px;
    margin: 5px;
    background-color: antiquewhite;
}

.card3 {
    border: 2px solid red;
    height: 100px;
    width: 100px;
    margin: 5px;
    /* position: fixed; */
    background-color: rgb(215, 250, 235);
}

.card4 {
    border: 2px solid red;
    height: 100px;
    width: 100px;
    margin: 5px;
    /* position: absolute; */
    background-color: aliceblue;
}

.card5 {
    border: 2px solid red;
    height: 100px;
    width: 100px;
    margin: 5px;
    position: relative;
    top: 30px;
    right: 100px;
    background-color: azure;
}