.container {
    background-color: aquamarine;
    height: 650px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 80px;
    height: 70px;
}

.box {
    background-color: aliceblue;
    width: 330px;
    height: 330px;
    border: 2px solid red;
    margin: 5px;
    padding: 4px;
    /* box-shadow: -20px -40px; */
    /* box-shadow: 10px 15px 10px black; */
    /* box-shadow: 10px 15px 10px 20px black; */
}